.button-sair{
    font-family: 'Manrope', sans-serif;
    background-color: red;
    border: none;
    padding: 7px;
    width: 8%;
    border-radius: 0px;
    color: white;
    font-size: 15px;
    position: center;
    cursor: pointer;
}

.tit-listagem-aluno{
    font-family: 'Manrope', sans-serif;
    font-size: large;
    color: black;
    }